:root {
  --red: #ff4b5c;
  --white: #f5f5f5;
  --light-gray: #454545;
  --gray: #3a3a3a;
  --dark-gray: #2e2e2e;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--gray);
  min-height: 100vh;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}
