@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --red: #ff4b5c;
  --white: #f5f5f5;
  --light-gray: #454545;
  --gray: #3a3a3a;
  --dark-gray: #2e2e2e;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--gray);
  min-height: 100vh;
  min-width: 100vw;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #1a1a1a;
}
*::-webkit-scrollbar-thumb {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 4rem;
  background-color: darkgrey;
}
