@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    .flex-row-between {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
